﻿@model Project_6_8.Models.Project

@{
    ViewBag.Title = "Delete";
}
<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">@Html.ActionLink("Beryllium", "Index", "Home")</div>
            </div>
            <div class="col-xs-10 text-right menu-1" id="mydiv" runat="server">
                <ul>
                    <li class="active">
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Liên hệ", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Dự Án", "Index", "Projects")
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<div class="gtco-section">
    <div class="gtco-container">
        <h4 class="text-warning" style="font-size:24px">Are you sure you want to delete this?</h4>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <label class="control-label col-md-2" style="font-size:20px;">Tên dự án</label>
                </dt>

                <dd style="font-size:20px">
                    @Html.DisplayFor(model => model.Name_Project)
                </dd>

                <dt>
                    <label class="control-label col-md-2" style="font-size:20px;">Nơi thi công</label>
                </dt>

                <dd style="font-size:20px">
                    @Html.DisplayFor(model => model.Detail_Project)
                </dd>

                <dt>
                    <label class="control-label col-md-2" style="font-size:20px;">Link hình ảnh</label>
                </dt>

                <dd style="font-size:20px">
                    @Html.DisplayFor(model => model.Image_Project)
                </dd>

                <dt>
                    <label class="control-label col-md-2" style="font-size:20px;">Loại dự án</label>
                </dt>

                <dd style="font-size:20px">
                    @Html.DisplayFor(model => model.Type_Project)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn_primary" })
                </div>
            }
        </div>
    </div>
</div>
