﻿@model Project_6_8.Models.Project

@{
    ViewBag.Title = "Edit";
}
<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">@Html.ActionLink("Beryllium", "Index", "Home")</div>
            </div>
            <div class="col-xs-10 text-right menu-1" id="mydiv" runat="server">
                <ul>
                    <li class="active">
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Giới thiệu", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Dự Án", "Index", "Projects")
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="gtco-section">
        <div class="gtco-container">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_Project)

                <div class="form-group">
                    <label class="control-label col-md-2" style="font-size:20px;">Tên dự án</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name_Project, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name_Project, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="font-size:20px;">Nơi thi công</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Detail_Project, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Detail_Project, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="font-size:20px;">Link hình ảnh</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Image_Project, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Image_Project, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="font-size:20px;">Loại dự án</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Type_Project, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type_Project, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}