@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #777;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas #page {
    overflow: hidden;
    position: absolute;
}

    .offcanvas #page:after {
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 101;
        background: rgba(0, 0, 0, 0.7);
        content: "";
    }

a {
    color: #52D681;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    a:hover, a:active, a:focus {
        color: #52D681;
        outline: none;
        text-decoration: none;
    }

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

::-webkit-selection {
    color: #fff;
    background: #52D681;
}

::-moz-selection {
    color: #fff;
    background: #52D681;
}

::selection {
    color: #fff;
    background: #52D681;
}

.gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.gtco-nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 1001;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
    .gtco-nav {
        padding: 10px 0;
        border-bottom: 1px solid #666666;
    }
}

.gtco-nav #gtco-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

    .gtco-nav #gtco-logo a {
        color: #000;
    }

    .gtco-nav #gtco-logo em {
        color: #fff;
    }

@media screen and (max-width: 768px) {
    .gtco-nav .menu-1, .gtco-nav .menu-2 {
        display: none;
    }
}

.gtco-nav ul {
    padding: 0;
    margin: .4em 0 0 0;
}

    .gtco-nav ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
        line-height: 1.5;
        font-family: "Montserrat", sans-serif;
    }

        .gtco-nav ul li > a {
            text-transform: uppercase;
            font-size: 13px !important;
            letter-spacing: .05em;
        }

        .gtco-nav ul li a {
            font-size: 16px;
            padding: 30px 10px;
            color: #cccccc;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

            .gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
                color: #000;
            }

        .gtco-nav ul li.has-dropdown {
            position: relative;
        }

            .gtco-nav ul li.has-dropdown > a {
                position: relative;
                padding-right: 20px !important;
            }

                .gtco-nav ul li.has-dropdown > a:after {
                    font-family: 'icomoon';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\e921";
                    font-style: 10px;
                    position: absolute;
                    top: 50%;
                    margin-top: -7px;
                    right: 0;
                    color: #ccc;
                }

            .gtco-nav ul li.has-dropdown .dropdown {
                width: 130px;
                -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
                box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
                z-index: 1002;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 40px;
                left: 0;
                text-align: left;
                background: #000;
                padding: 20px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                border-radius: 4px;
                -webkit-transition: 0s;
                -o-transition: 0s;
                transition: 0s;
            }

                .gtco-nav ul li.has-dropdown .dropdown:before {
                    bottom: 100%;
                    left: 40px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: #000;
                    border-width: 8px;
                    margin-left: -8px;
                }

                .gtco-nav ul li.has-dropdown .dropdown li {
                    display: block;
                    margin-bottom: 7px;
                }

                    .gtco-nav ul li.has-dropdown .dropdown li:last-child {
                        margin-bottom: 0;
                    }

                    .gtco-nav ul li.has-dropdown .dropdown li a {
                        padding: 2px 0;
                        display: block;
                        color: #999999;
                        line-height: 1.2;
                        text-transform: none;
                        font-size: 15px;
                    }

                        .gtco-nav ul li.has-dropdown .dropdown li a:hover {
                            color: #fff;
                        }

                    .gtco-nav ul li.has-dropdown .dropdown li.active > a {
                        color: #000 !important;
                    }

            .gtco-nav ul li.has-dropdown:hover a, .gtco-nav ul li.has-dropdown:focus a {
                color: #000;
            }

        .gtco-nav ul li.btn-cta a {
            color: #52D681;
        }

            .gtco-nav ul li.btn-cta a span {
                background: #fff;
                padding: 4px 20px;
                display: -moz-inline-stack;
                display: inline-block;
                zoom: 1;
                *display: inline;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                border-radius: 100px;
            }

            .gtco-nav ul li.btn-cta a:hover span {
                -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
            }

        .gtco-nav ul li.active > a {
            color: #000 !important;
        }

@media screen and (max-width: 480px) {
    #gtco-header .text-left {
        text-align: center !important;
    }
}

@media screen and (max-width: 480px) {
    #gtco-header .btn {
        display: block;
        width: 100%;
    }
}

#gtco-header,
#gtco-counter,
.gtco-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

.gtco-bg {
    background-position: center center;
    width: 100%;
    float: left;
    position: relative;
}

.gtco-cover {
    height: 900px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}

    .gtco-cover.gtco-inner h1 {
        margin-bottom: 0 !important;
    }

    .gtco-cover a {
        color: #52D681;
    }

        .gtco-cover a:hover {
            color: white;
        }

    .gtco-cover .overlay {
        z-index: 1;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(29, 43, 83, 0.89);
    }

    .gtco-cover > .gtco-container {
        position: relative;
        z-index: 10;
    }

@media screen and (max-width: 768px) {
    .gtco-cover {
        height: 600px;
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover .display-t,
.gtco-cover .display-tc {
    height: 900px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .gtco-cover .display-t,
    .gtco-cover .display-tc {
        height: 600px;
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover.gtco-cover-sm {
    height: 600px;
}

@media screen and (max-width: 768px) {
    .gtco-cover.gtco-cover-sm {
        height: 400px;
        height: inherit !important;
    }
}

.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
    height: 600px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .gtco-cover.gtco-cover-sm .display-t,
    .gtco-cover.gtco-cover-sm .display-tc {
        height: 400px;
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover.gtco-cover-xs {
    height: 500px;
}

@media screen and (max-width: 768px) {
    .gtco-cover.gtco-cover-xs {
        height: inherit !important;
        padding: 3em 0;
    }
}

.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
    height: 500px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .gtco-cover.gtco-cover-xs .display-t,
    .gtco-cover.gtco-cover-xs .display-tc {
        padding: 3em 0;
        height: inherit !important;
    }
}

.gtco-client {
    float: left;
    width: 100%;
    padding: 3em 0;
    background: #f6f6f6;
}

    .gtco-client .client img {
        margin-top: 10px;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

.gtco-testimonial .gtco-testimony {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.gtco-testimonial .gtco-left > div {
    display: table-cell;
    float: left;
    width: 80px;
}

    .gtco-testimonial .gtco-left > div img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        max-width: 100% !important;
    }

.gtco-testimonial .gtco-left > blockquote {
    padding-left: 20px;
    display: table-cell;
    border-left: none;
    margin: 0;
    padding: 0 0 0 30px;
}

    .gtco-testimonial .gtco-left > blockquote p {
        font-style: 16px;
        font-style: italic;
    }

    .gtco-testimonial .gtco-left > blockquote .author {
        color: #666666;
        display: block;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }

#gtco-footer {
    background: #262626;
    padding: 7em 0 0 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
    float: left;
}

    #gtco-footer a:hover {
        color: #fff !important;
    }

    #gtco-footer .gtco-cta {
        margin-bottom: 30px;
    }

        #gtco-footer .gtco-cta h3 {
            color: #fff;
            font-size: 30px;
            font-weight: 300;
        }

        #gtco-footer .gtco-cta .btn-white {
            padding: 15px 20px !important;
        }

            #gtco-footer .gtco-cta .btn-white.btn-outline:hover {
                color: #000 !important;
            }

    #gtco-footer .gtco-footer-paragraph h3 {
        color: #fff;
        margin-bottom: 10px;
    }

    #gtco-footer .gtco-footer-link {
        padding-left: 30px;
    }

        #gtco-footer .gtco-footer-link h3 {
            color: #fff;
            margin-bottom: 10px;
        }

@media screen and (max-width: 768px) {
    #gtco-footer .gtco-footer-link {
        padding-left: 15px;
    }
}

#gtco-footer .gtco-footer-link .gtco-list-link {
    padding: 0;
    margin: 0;
}

    #gtco-footer .gtco-footer-link .gtco-list-link li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        #gtco-footer .gtco-footer-link .gtco-list-link li a {
            text-transform: uppercase;
            font-size: 13px !important;
            font-family: "Montserrat", sans-serif;
        }

#gtco-footer .gtco-footer-subscribe {
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    #gtco-footer .gtco-footer-subscribe {
        padding-left: 15px;
    }
}

#gtco-footer .gtco-footer-subscribe .form-control {
    background: #fff !important;
    border: none !important;
}

#gtco-footer .gtco-footer-subscribe .btn {
    margin-top: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    height: 54px !important;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#gtco-footer .gtco-copyright {
    background: #1a1a1a;
    padding: 30px 0;
    float: left;
    width: 100%;
}

    #gtco-footer .gtco-copyright p {
        font-family: "Montserrat", sans-serif;
    }

        #gtco-footer .gtco-copyright p:last-child {
            margin-bottom: 0;
        }

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gtco-staff, .gtco-item {
    margin-bottom: 4em;
    float: left;
    width: 100%;
    display: block;
}

@media screen and (max-width: 768px) {
    .gtco-staff, .gtco-item {
        margin-bottom: 3em;
    }
}

.gtco-staff img, .gtco-item img {
    margin-bottom: 40px !important;
}

.gtco-staff h2, .gtco-item h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

    .gtco-staff h2 a, .gtco-item h2 a {
        color: #000 !important;
    }

.gtco-staff p, .gtco-item p {
    margin-bottom: 30px;
    color: #777;
}

.gtco-staff .role, .gtco-item .role {
    color: #bfbfbf;
    margin-bottom: 20px;
    font-weight: normal;
    display: block;
}

.gtco-staff .fh5co-social, .gtco-item .fh5co-social {
    padding: 0;
    margin: 0;
}

    .gtco-staff .fh5co-social li, .gtco-item .fh5co-social li {
        padding: 0;
        margin: 0 10px 0 0;
        list-style: none;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

        .gtco-staff .fh5co-social li a, .gtco-item .fh5co-social li a {
            font-size: 20px;
            color: #52d681;
        }

            .gtco-staff .fh5co-social li a:hover, .gtco-item .fh5co-social li a:hover {
                color: #000;
            }

.gtco-news ul {
    padding: 0;
    margin: 0;
}

    .gtco-news ul li {
        margin: 0 0 20px 0;
        list-style: none;
        display: block;
        border-bottom: 1px solid #f2f2f2;
    }

        .gtco-news ul li a {
            display: block;
            padding: 0 0 20px 0;
        }

            .gtco-news ul li a h3 {
                margin-bottom: 15px;
                font-weight: 100;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                color: #52D681;
            }

            .gtco-news ul li a .post-date {
                text-transform: uppercase;
                letter-spacing: .05em;
                color: #b3b3b3;
                font-family: "Montserrat", sans-serif;
                margin-bottom: 10px;
                display: block;
                font-size: 12px;
                font-weight: 100;
            }

            .gtco-news ul li a p {
                color: gray;
            }

                .gtco-news ul li a p:last-child {
                    margin-bottom: 0;
                }

            .gtco-news ul li a:hover h3 {
                color: #000;
            }

.gtco-social-icons {
    margin: 0;
    padding: 0;
}

    .gtco-social-icons li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

        .gtco-social-icons li a {
            display: -moz-inline-stack;
            display: inline-block;
            zoom: 1;
            *display: inline;
            color: #52D681;
            padding-left: 10px;
            padding-right: 10px;
        }

            .gtco-social-icons li a i {
                font-size: 20px;
            }

.gtco-contact-info {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    position: relative;
}

    .gtco-contact-info ul {
        padding: 0;
        margin: 0;
    }

        .gtco-contact-info ul li {
            padding: 0 0 0 50px;
            margin: 0 0 30px 0;
            list-style: none;
            position: relative;
        }

            .gtco-contact-info ul li:before {
                color: #cccccc;
                position: absolute;
                left: 0;
                top: .05em;
                font-family: 'icomoon';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .gtco-contact-info ul li.address:before {
                font-size: 30px;
                content: "\e9d1";
            }

            .gtco-contact-info ul li.phone:before {
                font-size: 23px;
                content: "\e9f4";
            }

            .gtco-contact-info ul li.email:before {
                font-size: 23px;
                content: "\e9da";
            }

            .gtco-contact-info ul li.url:before {
                font-size: 23px;
                content: "\e9af";
            }

#map {
    width: 100%;
    height: 500px;
    position: relative;
}

@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

form label {
    font-weight: normal !important;
}

#gtco-header {
    background-repeat: no-repeat;
    background-size: cover;
}

    #gtco-header p {
        color: #d3f1ed;
        font-size: 20px;
        margin-bottom: 40px !important;
    }

    #gtco-header h1 {
        font-size: 50px;
        line-height: 1.2 !important;
        margin-bottom: 30px !important;
        color: #d3f1ed;
        font-weight: 100;
    }

@media screen and (max-width: 768px) {
    #gtco-header h1 {
        line-height: 1.2 !important;
    }
}

#gtco-header h1.no-margin {
    margin-bottom: 0 !important;
}

#gtco-header .copy {
    margin-top: 0em;
}

#gtco-header .btn {
    color: #34a7bd !important;
    text-shadow: none !important;
}

#gtco-header .header-img {
    margin-bottom: 30px;
}

#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
}

    #gtco-header .display-tc h1, #gtco-header .display-tc h2,
    #gtco-counter .display-tc h1,
    #gtco-counter .display-tc h2,
    .gtco-cover .display-tc h1,
    .gtco-cover .display-tc h2 {
        margin: 0;
        padding: 0;
        color: white;
    }

    #gtco-header .display-tc h1,
    #gtco-counter .display-tc h1,
    .gtco-cover .display-tc h1 {
        margin-bottom: 0px;
        font-size: 59px;
        line-height: 1.5;
    }

@media screen and (max-width: 768px) {
    #gtco-header .display-tc h1,
    #gtco-counter .display-tc h1,
    .gtco-cover .display-tc h1 {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
}

#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 30px;
}

#gtco-counter {
    text-align: center;
}

    #gtco-counter .counter {
        font-size: 50px;
        margin-bottom: 10px;
        color: #52D681;
        font-weight: 100;
        display: block;
    }

    #gtco-counter .counter-label {
        margin-bottom: 0;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        letter-spacing: .1em;
    }

@media screen and (max-width: 768px) {
    #gtco-counter .feature-center {
        margin-bottom: 50px;
    }
}

#gtco-counter .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
    background: none !important;
    border: none !important;
}

    #gtco-counter .icon i {
        height: 70px;
    }

        #gtco-counter .icon i:before {
            color: #cccccc;
            display: block;
            text-align: center;
            margin-left: 3px;
        }

.gtco-section {
    padding: 3em 0;
    clear: both;
    position: relative;
}

@media screen and (max-width: 768px) {
    .gtco-section {
        padding: 3em 0;
    }
}

.gtco-section.border-bottom {
    border-bottom: 1px solid #d9d9d9;
}

.gtco-section.gtco-gray {
    background: #f6f6f6;
}

.gtco-heading {
    margin-bottom: 5em;
}

    .gtco-heading.gtco-heading-sm {
        margin-bottom: 2em;
    }

    .gtco-heading h2 {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 1.5;
        color: #4d4d4d;
        font-weight: 300;
    }

    .gtco-heading p {
        font-size: 18px;
        line-height: 1.7;
        color: #898989;
    }

blockquote {
    padding-left: 0;
    border-left: none;
}

    blockquote p {
        font-style: italic;
        color: #000;
    }

        blockquote p > cite {
            font-size: 14px;
            color: #b3b3b3;
        }

#gtco-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: black;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #gtco-offcanvas {
        display: block;
    }
}

.offcanvas #gtco-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#gtco-offcanvas a {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
}

    #gtco-offcanvas a:hover {
        color: rgba(255, 255, 255, 0.8);
    }

#gtco-offcanvas ul {
    padding: 0;
    margin: 0;
}

    #gtco-offcanvas ul li {
        padding: 0;
        margin: 0;
        display: block;
        list-style: none;
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }

        #gtco-offcanvas ul li > ul {
            padding-left: 20px;
            display: none;
        }

        #gtco-offcanvas ul li > a {
            display: block;
        }

        #gtco-offcanvas ul li.offcanvas-has-dropdown > a {
            display: block;
            position: relative;
        }

            #gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
                position: absolute;
                right: 0px;
                font-family: 'icomoon';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\e921";
                font-size: 20px;
                color: rgba(255, 255, 255, 0.2);
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }

        #gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }

.uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .gototop.active {
        opacity: 1;
        visibility: visible;
    }

    .gototop a {
        width: 50px;
        height: 50px;
        display: table;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }

        .gototop a i {
            height: 50px;
            display: table-cell;
            vertical-align: middle;
        }

        .gototop a:hover, .gototop a:active, .gototop a:focus {
            text-decoration: none;
            outline: none;
        }

.gtco-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}

    .gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
        background: #444;
    }

    .gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
        outline: none;
        border-bottom: none !important;
    }

    .gtco-nav-toggle i {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 2px;
        color: #252525;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: #252525;
        transition: all .2s ease-out;
    }

        .gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
            content: '';
            width: 25px;
            height: 2px;
            background: #252525;
            position: absolute;
            left: 0;
            transition: all .2s ease-out;
        }

    .gtco-nav-toggle.gtco-nav-white > i {
        color: #fff;
        background: #fff;
    }

        .gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
            background: #fff;
        }

    .gtco-nav-toggle i::before {
        top: -7px;
    }

    .gtco-nav-toggle i::after {
        bottom: -7px;
    }

    .gtco-nav-toggle:hover i::before {
        top: -10px;
    }

    .gtco-nav-toggle:hover i::after {
        bottom: -10px;
    }

    .gtco-nav-toggle.active i {
        background: transparent;
    }

        .gtco-nav-toggle.active i::before {
            top: 0;
            -webkit-transform: rotateZ(45deg);
            -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
        }

        .gtco-nav-toggle.active i::after {
            bottom: 0;
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
        }

.gtco-nav-toggle {
    position: absolute;
    right: 0px;
    top: 8px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .gtco-nav-toggle {
        display: block;
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: none !important;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

    .btn.btn-sm {
        padding: 10px 20px !important;
    }

    .btn:hover, .btn:active, .btn:focus {
        outline: none !important;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    }

.btn-primary {
    background: #52D681;
    color: #fff;
    border: 2px solid #52D681 !important;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background: #67db90 !important;
        border-color: #67db90 !important;
    }

    .btn-primary.btn-outline {
        background: transparent;
        color: #52D681;
        border: 2px solid #52D681;
    }

        .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
            background: #52D681;
            color: #fff;
        }

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}

    .btn-success:hover, .btn-success:focus, .btn-success:active {
        background: #4cae4c !important;
        border-color: #4cae4c !important;
    }

    .btn-success.btn-outline {
        background: transparent;
        color: #5cb85c;
        border: 2px solid #5cb85c;
    }

        .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
            background: #5cb85c;
            color: #fff;
        }

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}

    .btn-info:hover, .btn-info:focus, .btn-info:active {
        background: #46b8da !important;
        border-color: #46b8da !important;
    }

    .btn-info.btn-outline {
        background: transparent;
        color: #5bc0de;
        border: 2px solid #5bc0de;
    }

        .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
            background: #5bc0de;
            color: #fff;
        }

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}

    .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
        background: #eea236 !important;
        border-color: #eea236 !important;
    }

    .btn-warning.btn-outline {
        background: transparent;
        color: #f0ad4e;
        border: 2px solid #f0ad4e;
    }

        .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
            background: #f0ad4e;
            color: #fff;
        }

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
        background: #d43f3a !important;
        border-color: #d43f3a !important;
    }

    .btn-danger.btn-outline {
        background: transparent;
        color: #d9534f;
        border: 2px solid #d9534f;
    }

        .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
            background: #d9534f;
            color: #fff;
        }

.btn-white {
    background: #fff;
    color: #000;
    border: 2px solid #fff;
}

    .btn-white:hover, .btn-white:focus, .btn-white:active {
        color: #000;
        background: #fff;
        border-color: #fff;
    }

    .btn-white.btn-outline {
        color: #fff;
        border: 2px solid #fff;
    }

        .btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
            background: #fff;
            color: #000 !important;
            border: 2px solid #fff;
        }

.btn-special {
    background: #52D681;
    color: #2f9051;
    border: 2px solid #52D681;
}

    .btn-special:hover, .btn-special:focus, .btn-special:active {
        color: #fff;
        background: #52D681;
        border-color: #52D681;
    }

    .btn-special.btn-outline {
        color: #fff;
        border: 2px solid #52D681;
    }

        .btn-special.btn-outline:hover, .btn-special.btn-outline:focus, .btn-special.btn-outline:active {
            background: #fff;
            color: #2f9051;
            border: 2px solid #52D681;
        }

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
        box-shadow: none;
    }

.btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .btn.with-arrow i {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -8px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .btn.with-arrow:hover {
        padding-right: 50px;
    }

        .btn.with-arrow:hover i {
            color: #fff;
            right: 18px;
            visibility: visible;
            opacity: 1;
        }

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

    .form-control:active, .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #52D681;
    }

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}

.mt-md {
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
    .mt-md {
        margin-top: 10px;
    }
}

.gtco-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .gtco-nav .gtco-contact {
        text-align: left !important;
    }
}

.gtco-nav .gtco-contact ul {
    padding: 0;
    margin: 0 0 20px 0;
}

    .gtco-nav .gtco-contact ul li {
        padding: 0;
        margin: 0;
    }

        .gtco-nav .gtco-contact ul li a {
            font-size: 14px;
            font-weight: bold !important;
            margin-left: 0px;
        }

            .gtco-nav .gtco-contact ul li a i {
                color: #52D681;
            }

            .gtco-nav .gtco-contact ul li a:hover i {
                color: #fff;
            }

.gtco-flex {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left;
}

#gtco-portfolio {
    padding: 7em 0;
    background: #303841;
    min-height: 500px;
}

@media screen and (max-width: 768px) {
    #gtco-portfolio {
        padding: 3em 0;
    }
}

#gtco-portfolio .gtco-heading h2 {
    color: #fff;
}

#gtco-portfolio .gtco-heading p {
    color: rgba(255, 255, 255, 0.7);
}

/* Owl Override Style */
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-next,
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
    top: 25%;
    z-index: 1001;
    position: absolute;
}

.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev {
    top: 44%;
    z-index: 1001;
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-next {
    right: -170px;
}

@media screen and (max-width: 992px) {
    .owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-next {
        right: -50px;
    }
}

.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
    left: -170px;
}

@media screen and (max-width: 992px) {
    .owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
        left: -50px;
    }
}

.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next {
    right: 0px;
}

.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev {
    left: 0px;
}

    .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next i,
    .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev i {
        color: #000;
    }

    .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next:hover i,
    .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev:hover i {
        color: #000;
    }

@media screen and (max-width: 768px) {
    .owl-theme .owl-controls .owl-nav {
        display: none;
    }
}

.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none !important;
}

    .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
        color: #fff;
        font-size: 24px;
        background: rgba(0, 0, 0, 0.7) !important;
        z-index: 1002;
        padding: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
        color: #fff;
    }

.owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none !important;
}

    .owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
        color: #b3b3b3;
        font-size: 30px;
        background: transparent !important;
        z-index: 1002;
        padding: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
        color: #000;
    }

.gtco-more {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .05em;
}

    .gtco-more:hover {
        color: #000;
    }

.gto-features {
    border-top: 1px solid #e6e6e6;
}

.feature-left {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .feature-left {
        margin-bottom: 20px;
    }
}

.feature-left > .icon {
    float: left;
    font-size: 34px;
    color: #cccccc;
}

.feature-left > .copy {
    padding-left: 30px;
}

    .feature-left > .copy h3 {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    .feature-left > .copy p {
        font-size: 14px !important;
        line-height: 26px;
    }

        .feature-left > .copy p:last-child {
            margin-bottom: 0;
        }

.feature-left > .icon, .feature-left > .copy {
    display: table-cell;
}

.gtco-services .feature-left {
    float: left;
    width: 100%;
    margin-bottom: 50px !important;
}

    .gtco-services .feature-left p {
        margin-bottom: 10px !important;
    }

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
    bottom: 0;
    margin-bottom: 2.5em;
}

.owl-carousel-fullwidth .item > a {
    display: block;
    position: relative;
    z-index: 10;
}

    .owl-carousel-fullwidth .item > a:after {
        z-index: 1;
        content: "";
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
        -webkit-box-shadow: inset 0px -177px 230px -121px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px -177px 230px -121px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px -177px 230px -121px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: inset -27px -181px 151px -121px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset -27px -181px 151px -121px rgba(0, 0, 0, 0.75);
        box-shadow: inset -27px -181px 151px -121px rgba(0, 0, 0, 0.75);
    }

    .owl-carousel-fullwidth .item > a .slider-copy {
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;
        z-index: 10;
    }

        .owl-carousel-fullwidth .item > a .slider-copy h2 {
            color: #fff;
            font-size: 24px;
            font-weight: 100;
        }

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #cccccc;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

    .owl-theme .owl-dots .owl-dot span:hover {
        background: none;
    }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: none;
    background: #4d4d4d;
}

.project {
    margin-left: -15px;
    margin-right: -15px;
}

.project__thumb {
    position: relative;
    z-index: 4;
}

.project__hover__info {
    background: rgba(252, 194, 54, 0.9) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 1;
}

.project__action {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 5;
}

    .project__action h2 {
        color: #fefefe;
        font-size: 20px;
        font-weight: 700;
    }

.project__hover__info::before {
    border: 1px solid #fff;
    bottom: 50px;
    content: "";
    height: auto;
    left: 45px;
    position: absolute;
    right: 45px;
    top: 50px;
    width: auto;
    z-index: 2;
}

.project__action h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 17px;
}

.project__action > h2:hover a {
    color: #000;
}

.project__action h2 a {
    transition: all 0.4s ease 0s;
}

.project:hover .project__hover__info,
.project__itm:hover .project__hover__info {
    opacity: 1;
}

.project__thumb a {
    display: block;
}

    .project__thumb a img {
        width: 100%;
    }

.project__itm {
    margin-top: 30px;
}

.pro__dtl__inner {
    padding: 70px 40px;
}

.pro__dtl__content {
    display: flex;
}

.pro__dtl__list li {
    color: #1f2d30;
    font-family: Open Sans;
    font-size: 16px;
}

.pro__dtl__list.font__bold li {
    color: #1f2d30;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.pro__dtl__list li + li {
    padding-top: 24px;
}

.pro__dtl__inner h2 {
    color: #1f2d30;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 43px;
    text-transform: uppercase;
}

.pro__dtl__list.font__bold {
    padding-right: 20px;
}

.download__project {
    margin-top: 20px;
    padding: 51px 0;
    text-align: center;
}

    .download__project h2 {
        color: #fcc236;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }

.htc__pro__desc__container {
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 70px;
}

.single__project__details h2 {
    color: #1f2d30;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.single__project__details {
    margin: 0 20px;
    width: 33.33%;
}

    .single__project__details p + p {
        margin-top: 11px;
    }

.facts__list li a {
    color: #606060;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.facts__list li + li {
    margin-top: 20px;
}

.facts__list {
    margin-top: 25px;
}

    .facts__list li a i {
        padding-right: 10px;
    }

    .facts__list li a:hover {
        color: #fcc236;
    }

.prodict-det-small li {
    padding: 0 10px;
    width: 25%;
}

.ht-portfolio-full-image .tab-pane img {
    width: 100%;
}

.prodict-det-small {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}

    .prodict-det-small li a {
        display: block;
    }

        .prodict-det-small li a img {
            width: 100%;
        }

.htc__service__dtl {
    margin-top: 55px;
}

.title__line--4 {
    color: #1f2d30;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.htc__ser__dtl__inner .htc__ser__dtl .title__line--4 {
    font-size: 24px;
}

.htc__ser__dtl__inner {
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 47px;
}

    .htc__ser__dtl__inner .htc__ser__dtl {
        padding: 0 25px;
        width: 50%;
    }

/*# sourceMappingURL=style.css.map */
