﻿<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Beryllium &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/Content/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Owl Carousel  -->
    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <!-- Theme style  -->
    <link href="~/Content/css/core.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/shortcodes.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="~/Scripts/js/modernizr-2.6.2.min.js"></script>


    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <!-- FOR IE9 below -->
    <script src="js/respond.min.js"></script>

</head>
<body>

    <div id="page">

        @RenderBody()
        <!-- END  -->
        <div class="gtco-section gto-features">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-left">
                            <i class="ti-zip icon"></i>
                            <div class="copy">
                                <h3>Architect</h3>
                                <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
                                <p><a href="#" class="gtco-more">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left">
                            <i class="ti-hummer icon"></i>
                            <div class="copy">
                                <h3>Planning</h3>
                                <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
                                <p><a href="#" class="gtco-more">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-left">
                            <i class="ti-plug icon"></i>
                            <div class="copy">
                                <h3>Parks &amp; Events</h3>
                                <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
                                <p><a href="#" class="gtco-more">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="gtco-footer" class="gtco-section" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-pb-md">
                    <div class="col-md-4 gtco-widget gtco-footer-paragraph">
                        <h3>Beryllium</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod.</p>
                    </div>
                    <div class="col-md-8 gtco-footer-subscribe">
                        <form class="form-inline">
                            <div class="form-group">
                                <ul>
                                    <li class="address">Số 1 Phố Xốm, Phú Lâm, Hà Đông, Hà Nội, Việt Nam</li>
                                    <li class="phone"><a href="tel://0374394005">0374 394 005</a></li>
                                    <li class="email"><a href="mailto:hieu187110@gmail.com">hieu187110@gmail.com</a></li>
                                    <li class="url"><a href="https://www.facebook.com/hieuiii">Nguyễn Hiếu</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END footer -->

    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>

    <!-- Main -->
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/jquery-1.12.0.min.js"></script>
    <script src="~/Scripts/js/plugins.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <script src="~/Scripts/js/main2.js"></script>

</body>
</html>

