<div class="gtco-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item">
                <a href="#">
                    <img src="https://data.1freewallpapers.com/download/night-city-aerial-view-buildings-architecture-overview-tokyo-japan-1920x1080.jpg" style="width: 100%;" />
                </a>
            </div>
        </div>
    </div>
</div>

