﻿@{
    ViewBag.Title = "Index";
}
<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">@Html.ActionLink("Beryllium", "Index", "Home")</div>
            </div>
            <div class="col-xs-10 text-right menu-1" id="mydiv" runat="server">
                <ul>
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li class="active">
                        @Html.ActionLink("Giới Thiệu", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Liên Hệ", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Dự Án", "Index", "Projects")
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row gtco-heading">
            <div class="col-md-7 text-left">
                <h2>Đội của chúng tôi</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-carousel">
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_1.jpg" alt="" class="img-responsive">
                            <h2>Jane Simpson</h2>
                            <p class="role">Architect</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Richard Wilson</h2>
                            <p class="role">Civil Engineer</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_3.jpg" alt="" class="img-responsive">
                            <h2>Craig Davidson</h2>
                            <p class="role">Engineer</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_1.jpg" alt="" class="img-responsive">
                            <h2>Jane Simpson</h2>
                            <p class="role">Architect</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Richard Wilson</h2>
                            <p class="role">Civil Engineer</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_3.jpg" alt="" class="img-responsive">
                            <h2>Craig Davidson</h2>
                            <p class="role">Engineer</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_1.jpg" alt="" class="img-responsive">
                            <h2>Jane Simpson</h2>
                            <p class="role">Architect</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_2.jpg" alt="" class="img-responsive">
                            <h2>Richard Wilson</h2>
                            <p class="role">Civil Engineer</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gtco-staff">
                            <img src="~/Content/images/staff_3.jpg" alt="" class="img-responsive">
                            <h2>Craig Davidson</h2>
                            <p class="role">Engineer</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END .gtco-services -->

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-11 gtco-news">
                <h2>Tin Tức</h2>
                <ul>
                    <li>
                        <a href="https://cafef.vn/dai-quang-minh-lap-quy-hoach-khu-do-thi-hon-530ha-tai-da-lat-2021080409122592.chn">
                            <span class="post-date">4 tháng 8 năm 2021</span>
                            <h3>Đại Quang Minh lập quy hoạch khu đô thị hơn 530ha tại Đà Lạt</h3>
                            <p>
                                CTCP Đầu tư địa ốc Đại Quang Minh (Đại Quang Minh) sẽ nghiên cứu khảo sát, lập ý tưởng thiết kế quy hoạch Khu đô thị phía Đông TP Đà Lạt với diện tích 530ha.
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="https://cafef.vn/trong-khi-nhieu-chung-cu-lien-tuc-giam-gia-bo-xay-dung-bat-ngo-diem-ten-hang-loat-du-an-tang-gia-bat-chap-dai-dich-20210804183723325.chn">
                            <span class="post-date">4 tháng 8 năm 2021</span>
                            <h3>Trong khi nhiều chung cư liên tục giảm giá, Bộ Xây dựng bất ngờ điểm tên hàng loạt dự án tăng giá bất chấp đại dịch</h3>
                            <p>
                                Theo Bộ Xây dựng, giá giao dịch căn hộ chung cư bình quân trong quý II vẫn tăng khoảng 5-7% so với Quý I.
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="https://cafef.vn/quang-ninh-dien-tich-toi-thieu-duoc-phep-tach-thua-doi-voi-dat-o-la-45m2-20210804150028034.chn">
                            <span class="post-date">4 tháng 8 năm 2021</span>
                            <h3>Quảng Ninh: Diện tích tối thiểu được phép tách thửa đối với đất ở là 45m2</h3>
                            <p>UBND tỉnh Quảng Ninh vừa ban hành quy định diện tích tối thiểu được phép tách thửa đối với đất ở, đất sản xuất kinh doanh phi nông nghiệp, đất nông nghiệp.</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END News -->
        </div>
    </div>
</div>

