﻿@{
    ViewBag.Title = "Contact";
}

<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">@Html.ActionLink("Beryllium", "Index", "Home")</div>
            </div>
            <div class="col-xs-10 text-right menu-1" id="mydiv" runat="server">
                <ul>
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li class="active">
                        @Html.ActionLink("Liên hệ", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Dự Án", "Index", "Projects")
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row gtco-heading">
            <div class="col-md-7 text-left">
                <h2>Liên hệ</h2>
                <p>Mọi người có thể liên hệ với chúng tôi bằng cách thông qua Email, facebook hoặc liên hệ trực tiếp với chung tôi qua số điện thoại. Chỉ cần click vào những thông tin bên dưới</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="#">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message"></label>
                        <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn btn-special" value="Gửi tin nhắn">
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-push-1">
                <div class="gtco-contact-info">
                    <h3>Địa chỉ</h3>
                    <p>Xa thật xa, nằm ở phía Bắc Việt Nam với tên gọi mảnh đất ngàn năm văn hiến.</p>
                    <ul>
                        <li class="address">Số 1 Phố Xốm, Phú Lâm, Hà Đông, Hà Nội, Việt Nam</li>
                        <li class="phone"><a href="tel://0374394005">0374 394 005</a></li>
                        <li class="email"><a href="mailto:hieu187110@gmail.com">hieu187110@gmail.com</a></li>
                        <li class="url"><a href="https://www.facebook.com/hieuiii">Nguyễn Hiếu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>