﻿<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo">@Html.ActionLink("Beryllium", "Index", "Home")</div>
            </div>
            <div class="col-xs-10 text-right menu-1" id="mydiv" runat="server">
                <ul>
                    <li class="active">
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Liên hệ", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Dự Án", "Index", "Projects")
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
@Html.Partial("_TopSlide")
<!-- END Work -->

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-11 gtco-news">
                <h2>Tin Tức</h2>
                <ul>
                    <li>
                        <a href="https://cafef.vn/dai-quang-minh-lap-quy-hoach-khu-do-thi-hon-530ha-tai-da-lat-2021080409122592.chn">
                            <span class="post-date">4 tháng 8 năm 2021</span>
                            <h3>Đại Quang Minh lập quy hoạch khu đô thị hơn 530ha tại Đà Lạt</h3>
                            <p>
                                CTCP Đầu tư địa ốc Đại Quang Minh (Đại Quang Minh) sẽ nghiên cứu khảo sát, lập ý tưởng thiết kế quy hoạch Khu đô thị phía Đông TP Đà Lạt với diện tích 530ha.
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="https://cafef.vn/trong-khi-nhieu-chung-cu-lien-tuc-giam-gia-bo-xay-dung-bat-ngo-diem-ten-hang-loat-du-an-tang-gia-bat-chap-dai-dich-20210804183723325.chn">
                            <span class="post-date">4 tháng 8 năm 2021</span>
                            <h3>Trong khi nhiều chung cư liên tục giảm giá, Bộ Xây dựng bất ngờ điểm tên hàng loạt dự án tăng giá bất chấp đại dịch</h3>
                            <p>
                                Theo Bộ Xây dựng, giá giao dịch căn hộ chung cư bình quân trong quý II vẫn tăng khoảng 5-7% so với Quý I.
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="https://cafef.vn/quang-ninh-dien-tich-toi-thieu-duoc-phep-tach-thua-doi-voi-dat-o-la-45m2-20210804150028034.chn">
                            <span class="post-date">4 tháng 8 năm 2021</span>
                            <h3>Quảng Ninh: Diện tích tối thiểu được phép tách thửa đối với đất ở là 45m2</h3>
                            <p>UBND tỉnh Quảng Ninh vừa ban hành quy định diện tích tối thiểu được phép tách thửa đối với đất ở, đất sản xuất kinh doanh phi nông nghiệp, đất nông nghiệp.</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END News -->
        </div>
    </div>
</div>